.section-hero {

}

.section-title {
font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-align: center;
}

.container {
  outline: 2px solid tomato;
  width: 1170px;
  padding: 0px 30px;
  margin: 0 auto;
}